.numberInput{
  margin-top: 10px;
  padding: 10px;
  input{
    width: 400px;
    height: 40px;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 1px #100404;
    text-align: center;
    font-weight: bold;
    display: block;
  }
  label{
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px 5px;
  }
}

@media screen and (max-width: 768px) {
  .numberInput{
    input{
      width: 200px;
    }
  }
}

@media screen and (max-width: 615px) {
  .numberInput{
    input{
      width: 98%;
    }
  }
}